@model lab4.Models.User
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up Result</h1>

<pre class="tab">

    @Model.FirstName

    @Model.LastName 

    @Model.Birthday.Day @Model.Birthday.Month @Model.Birthday.Year

    @Model.Email 

    @Model.Password 

</pre>

